<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dewen.mapper.FsUserMapper">

    <insert id="insertFsUsers" parameterType="List">
        INSERT INTO fs_user(user_id, union_id, open_id, `name`, mobile, gender)
        VALUES
        <foreach collection="fsUsers" item="fsUser" separator=",">
            (#{fsUser.userId},#{fsUser.unionId},#{fsUser.openId},
            #{fsUser.name},#{fsUser.mobile},#{fsUser.gender})
        </foreach>
    </insert>

</mapper>
