<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script src="https://cdn.bootcdn.net/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
</body>
<script>
    // var socket = io.connect("ws://47.119.141.236:8085/api/websoket/msgQueue");
    var socket = io.connect("ws://dewen.free.idcfengye.com/api/websoket/msgQueue");
    socket.on("connect", function () {
      console.log("成功连接");
    });
    // let socket = new WebSocket("ws://dewen.free.idcfengye.com/api/websoket/msgQueue");//ws协议是webSocket自己创造的
    // let socket = new WebSocket("ws://47.119.141.236:8085/api/websoket/msgQueue");//ws协议是webSocket自己创造的
    // socket.onopen = function () {
    //     socket.send("我叫俞华");
    // }
    // socket.onmessage = function (e) {
    //     console.log(e.data);//你好,我叫俞华！
    // }
</script>

</html>